@charset "UTF-8";

:root{
    /*Primary*/
    --Gold-500: hsl(31, 77%, 52%);
    --Cyan-800: hsl(184, 100%, 22%);
    --Green-950: hsl(179, 100%, 13%);

    /*Neutral*/
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --White: hsl(0, 100%, 100%);

    /*Font*/
    --Lexend-Deca: "Lexend Deca", Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-height: 100dvh;
    background-color: var(--White);
    font: normal 1rem var(--Lexend-Deca);
}

main{
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;

    margin: 1rem;
    max-width: 320px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#sedans, #suvs, #luxury{
    flex: 1 1 auto;
    padding: 2rem;
}

.card > img{
    max-width: 50px;
    margin-bottom: 1rem;
}

.card > h2{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--White);
}

.card > p{
    text-align: left;
    line-height: 1.5;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: var(--Transparent-white);
}

#sedans{
    background-color: var(--Gold-500);
}

#suvs{
    background-color: var(--Cyan-800);
}

#luxury{
    background-color: var(--Green-950);
}

.card > button{
    width: 128px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 24px;
    background-color: var(--White);
    transition: all 0.5s ease-in-out;
}

#sedans > button{
    color: var(--Gold-500);
}

#suvs > button{
    color: var(--Cyan-800);
}

#luxury > button{
    color: var(--Green-950);
}

.card > button:hover{
    border: 1px solid var(--White);
    transform: scale(1.1) translateX(0.5rem);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#sedans > button:hover{
    color: var(--White);
    background-color: var(--Gold-500);
}

#suvs > button:hover{
    color: var(--White);
    background-color: var(--Cyan-800);
}

#luxury > button:hover{
    color: var(--White);
    background-color: var(--Green-950);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 768px) {
    main{
        flex-flow: row;
        max-width: 920px;
        max-height: 518px;
    }

    #sedans, #suvs, #luxury{
        display: flex;
        flex-flow: column nowrap;
    }

    .card > img{
        max-width: 90px;
        max-height: 90px;
        margin-bottom: 2rem;
    }

    .card > h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .card > p{
        flex: 1 1 auto;
        font-size: 1.2rem;
    }

    .card > button{
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 1rem;
        max-height: 48px;
    }
}